<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>
  <script src="https://kit.fontawesome.com/fe6d01eabb.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <h1>
                Seyed Sajjad Nezhadi
              </h1>
              <p>I recently graduated with a Ph.D. in quantum computing with a thesis titled "Quantum Games, Graphs, and Gödel". I completed my Ph.D. at <a href="https://quics.umd.edu/">QuiCS</a> and the <a href="https://www.umd.edu/">University of Maryland</a> under the supervision of <a href="https://quics.umd.edu/people/matthew-coudron">Matthew Coudron</a>.
              </p> 
              <p>
                Before that I did an undergraduate degree in Math and CS at the <a href="https://www.utoronto.ca">University of Toronto</a>, where I was advised by <a href="http://www.henryyuen.net">Henry Yuen</a>.
              </p>
              <p style="text-align:center">
                <a href="mailto:sajjad@umd.edu"><i class="fas fa-envelope"></i></a> &nbsp;-&nbsp;
                <a href="/pdfs/CV.pdf" download>CV</a> &nbsp;-&nbsp;
                <a href="https://scholar.google.ca/citations?user=LhRb2usAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-3x" style="font-size:16px"></i></a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/sajjad.png">
              <p style="text-align:center"><strong>Sajjad</strong> - <strong>سجاد</strong></p>
            </td>
          </tr>
        </table>

        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <p>
                My primary research interest is in the theory of quantum computing. More recently, I have also been looking at applying theory to understand transformer models. For a full list of my publications check out my <a href="https://scholar.google.ca/citations?user=LhRb2usAAAAJ&hl=en">google scholar</a>.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Publications</h2>
              {% for post in site.posts %}
              {% for cat in post.categories %}
              {% if cat == 'research' %}
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <a href="{{post.arxiv}}">arxiv</a> 
              <p></p>
              {% endif %}
          {% endfor %}
          {% endfor %}
              </td>
          </tr>
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Website from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a> via <a style="font-size:small;" href="https://leonidk.com">Leonid Keselman</a>'s <a style="font-size:small;" href="https://github.com/leonidk/new_website">Jekyll fork</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

